@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

html {
  --primary-color: #161f6d;
  --secondary-color: #00abe1;
}
html,
body {
  margin: 0;
  cursor: pointer;
}
/*1em=20px*/
body {
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-wrap: balance;
  /* letter-spacing: 0.15em; */
}
header {
  margin: auto;
  padding: auto;
  font-size: 40px;
}

.custom-made-button{
  background-color:hsl(178, 60%, 48%);
  color:hsl(199,33%,15%);
  border:0;
  border-radius:1em;
  padding: 0.5em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 0.35em 0 0 hsl(178, 60%, 48%,0.5);
}
.custom-made-button:active,
.custom-made-button:focus-visible{
  transform: translateY(0.35em);
  box-shadow:none;
}
.custom-made{
  border:none;
  border-radius:30px;
}
.custom-made1{
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 10%;
  /* background: #ca7e14; */
  box-shadow: 0 0 0 0 rgba(#517945, 0.5);
  animation: pulse 5s infinite;
  border: none;
  cursor:pointer;
  /* color: #fff; */
}
.pulse-button:hover{
  animation:none;
}
@keyframes pulse{
  0%{
    transform: scale(.9);
  }
  50%{
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4,0);
  }
  100%{
    transform:scale(.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4,0);
  }
}



.custom-button {
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-radius: 50%;
  background: #a7c957;
  box-shadow: 0 0 0 0 rgba(#6a994e, 0.5);
  animation: pulse 1.5s infinite;
  border: none;
  color: #fff;
}
.pulse-button:hover{
  animation:none;
}
@keyframes pulse{
  0%{
    transform: scale(.9);
  }
  70%{
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4,0);
  }
  100%{
    transform:scale(.9);
    box-shadow: 0 0 0 0 rgba(#5a99d4,0);
  }
}
